In [1]:
from __future__ import annotations

import os
import sys
from datetime import datetime
from typing import Any, Dict, Generator, List, Tuple, Union

#sys.path.append('../../two-tower-ml')

import warnings

import keras
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
import tensorflow_recommenders as tfrs

#from utils.logger import get_logger

#logger = get_logger()

warnings.filterwarnings('always')
warnings.filterwarnings('ignore')
import os

os.environ["SM_FRAMEWORK"] = "tf.keras"

tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR)

print(tf.__version__, keras.__version__)

# Set the maximum number of columns to display
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)
tf.random.set_seed(42)

#logger.info('Getting libraries and packages')

path_folder = './FinalProjData/ml-100k'

2024-01-13 14:44:01.988725: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-01-13 14:44:03.616814: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

2.13.1 2.13.1

In [2]:
#Data Loading
items = 'u.item'
ratings = 'ua.base'

movies_path = os.path.join(path_folder, items)
ratings_path = os.path.join(path_folder, ratings)

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']

i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movies_df = pd.read_csv(movies_path, sep='|', encoding='latin-1', names=i_cols)
ratings_df = pd.read_csv(ratings_path,  sep='\t', encoding='latin-1', names=r_cols).dropna()

In [3]:
# replacing blank space for underlines in the column names
cols = [col.lower().replace(' ', '_').replace('[', '').replace(']', '') for col in movies_df.columns]
movies_df.columns = cols
movies_df.head(2)

,movie_id,movie_title,release_date,video_release_date,imdb_url,unknown,action,adventure,animation,children's,comedy,crime,documentary,drama,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [4]:
# forcing ids to become string instead of integers
ratings_df['user_id'] = 'id_' + ratings_df['user_id'].astype(str)
ratings_df['movie_id'] = 'id_' + ratings_df['movie_id'].astype(str)
movies_df['movie_id'] = 'id_' + movies_df['movie_id'].astype(str)

<b>Preprocessing</b>

In [5]:
def hour_to_shift(timestamps):

    shift = 0

    # Determine the shift based on the hour
    if 6 <= timestamps < 10:
        shift = "Breakfast"
    elif 10 <= timestamps < 14:
        shift="Lunch"
    elif 14 <= timestamps < 18:
        shift="Afternoon"
    elif 18 <= timestamps < 22:
        shift="Dinner"
    else:
        shift="Noon"

    return shift

In [6]:
# Let's divide the users by segments. Heavy and light users.
# The aim is to predict a batch of candidates for the light users using the heavy user's past interactions.
# light_user_ratings_df will be used as the test dataset for serving

heavy_user_df = ratings_df['user_id'].value_counts()[:600].index
light_user_df = ratings_df['user_id'].value_counts()[600:].index
heavy_user_ratings_df = ratings_df.query('user_id in @heavy_user_df')
light_user_ratings_df = ratings_df.query('user_id in @light_user_df')

In [7]:
# let's preprocess some temporal features
heavy_user_ratings_df['ordered_unix_timestamp'] = pd.to_datetime(heavy_user_ratings_df['unix_timestamp'], unit='s')
heavy_user_ratings_df['shift']=heavy_user_ratings_df['ordered_unix_timestamp'].dt.hour.apply(lambda x: hour_to_shift(x))
heavy_user_ratings_df['day_of_week']=heavy_user_ratings_df['ordered_unix_timestamp'].dt.day_name()

light_user_ratings_df['ordered_unix_timestamp'] = pd.to_datetime(light_user_ratings_df['unix_timestamp'], unit='s')
light_user_ratings_df['shift']=light_user_ratings_df['ordered_unix_timestamp'].dt.hour.apply(lambda x: hour_to_shift(x))
light_user_ratings_df['day_of_week']=light_user_ratings_df['ordered_unix_timestamp'].dt.day_name()

In [8]:
# let's split the dataset between, train/val/test

# Sort the DataFrame by user_id and unix_timestamp
heavy_user_ratings_df = heavy_user_ratings_df.sort_values(['user_id', 'ordered_unix_timestamp'])

train_df = pd.DataFrame()
val_df = pd.DataFrame()
test_df = pd.DataFrame()

# Group the DataFrame by user_id
grouped = heavy_user_ratings_df.groupby('user_id')

# Iterate over each user group and split the data into train, validation, and test sets
for _, group in grouped:
    # Get the unique timestamps for the user
    unique_timestamps = group['ordered_unix_timestamp'].unique()

    # Determine the split points for train, validation, and test sets
    train_split = int(0.8 * len(unique_timestamps))
    val_split = int(0.9 * len(unique_timestamps))

    # Split the unique timestamps
    train_timestamps = unique_timestamps[:train_split]
    val_timestamps = unique_timestamps[train_split:val_split]
    test_timestamps = unique_timestamps[val_split:]

    # Split the data based on the timestamps
    train = group[group['ordered_unix_timestamp'].isin(train_timestamps)]
    val = group[group['ordered_unix_timestamp'].isin(val_timestamps)]
    test = group[group['ordered_unix_timestamp'].isin(test_timestamps)]

    # Append the split data to the respective datasets
    train_df = pd.concat([train_df, train], axis = 0)
    val_df = pd.concat([val_df,val], axis = 0)
    test_df = pd.concat([test_df, test], axis = 0)

# Print the resulting datasets
print("Train dataset:")
print(train_df.shape)
print("\nValidation dataset:")
print(val_df.shape)
print("\nTest dataset:")
print(test_df.shape)

Train dataset:
(68050, 7)

Validation dataset:
(7724, 7)

Test dataset:
(8210, 7)

In [9]:
# Now, preprocessing some features regarding the genre of the movie.
# In this case, let's grab the first genre presented.

genre_columns = ['unknown', 'action', 'adventure', 'animation', "children's",
       'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film-noir',
       'horror', 'musical', 'mystery', 'romance', 'sci-fi', 'thriller', 'war',
       'western']

# Create the 'movie_genre' column by joining the genre names
movies_df['movie_genre'] = movies_df[genre_columns].apply(
    lambda x: ', '.join([col for col, val in zip(genre_columns, x) if val == 1]),
    axis=1
)

movies_df = pd.concat([
    movies_df,
    movies_df['movie_genre'].str.split(', ', expand=True).rename(columns={0:'genre1', 1:'genre2',2:'genre3',3:'genre4', 4:'genre5', 5:'genre5'})
],axis=1)

movies_df.head(2)

,movie_id,movie_title,release_date,video_release_date,imdb_url,unknown,action,adventure,animation,children's,comedy,crime,documentary,drama,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western,movie_genre,genre1,genre2,genre3,genre4,genre5,genre5
0,id_1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,"animation, children's, comedy",animation,children's,comedy,None,None,None
1,id_2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,"action, adventure, thriller",action,adventure,thriller,None,None,None

In [10]:
# preprocessing some features regarding the past consumer behavior of the movies.
# In this case, total number of views and rating's average score

additional_features = train_df.groupby('movie_id').aggregate({'user_id':'count','rating':'mean'}).rename(columns={'user_id':'total_views', 'rating':'avg_score'}).reset_index()
additional_features['avg_score'] = additional_features['avg_score'].round(2)
additional_features

     movie_id  total_views  avg_score
0        id_1          309       3.87
1       id_10           65       3.75
2      id_100          352       4.16
3     id_1000            8       3.00
4     id_1001           14       2.00
...       ...          ...        ...
1598   id_995           18       3.22
1599   id_996            8       2.25
1600   id_997            7       2.43
1601   id_998            6       2.33
1602   id_999            6       2.50

[1603 rows x 3 columns]

In [11]:
# adding those additional features to the train/val/test/movie dataframes
# There are several other features to be created (freshness, indie/popular...).
# For the purpose of this notebook, i wanted to create variables enough for the model but not that much now

columns = [
    'movie_id',
    'movie_title',
    'movie_genre',
    'total_views',
    'avg_score',
    'genre1',
]

movies_df = (movies_df
             .merge(additional_features,left_on='movie_id', right_on='movie_id',how = 'left')
)

train_df = (train_df
            .merge(movies_df[columns],left_on='movie_id', right_on='movie_id',how = 'left')
            )

val_df = (
    val_df
    .merge(movies_df[columns],left_on='movie_id', right_on='movie_id',how = 'left')
)

test_df = (test_df
           .merge(movies_df[columns],left_on='movie_id', right_on='movie_id',how = 'left')
)

light_user_ratings_df = (light_user_ratings_df
           .merge(movies_df[columns],left_on='movie_id', right_on='movie_id',how = 'left')
)

In [12]:
# droping no need variables

train_df = train_df.drop(['rating','ordered_unix_timestamp'],axis=1)
val_df = val_df.drop(['rating','ordered_unix_timestamp'],axis=1)
test_df = test_df.drop(['rating','ordered_unix_timestamp'],axis=1)

light_user_ratings_df = light_user_ratings_df.drop(['rating','ordered_unix_timestamp'],axis=1)

In [13]:
# convert pandas dataframe to tf dataframe

train_tf = tf.data.Dataset.from_tensor_slices(train_df.to_dict('list'))#.prefetch(2)
val_tf = tf.data.Dataset.from_tensor_slices(val_df.to_dict('list'))#.prefetch(2)
test_tf = tf.data.Dataset.from_tensor_slices(test_df.to_dict('list'))#.prefetch(2)

movies_tf = tf.data.Dataset.from_tensor_slices(dict(movies_df[columns].to_dict('list')))#.prefetch(2)

2024-01-13 14:44:11.434011: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-13 14:44:11.805737: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-13 14:44:11.805785: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-13 14:44:11.809966: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-13 14:44:11.810058: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-13 14:44:11.810086: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-13 14:44:14.407111: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-13 14:44:14.407171: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-13 14:44:14.407178: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1726] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2024-01-13 14:44:14.407208: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:981] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-13 14:44:14.407231: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1639] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 3888 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 2060 with Max-Q Design, pci bus id: 0000:01:00.0, compute capability: 7.5

In [14]:
# convert tf dataframe to this json formated tf dataframe.
# Format required for training the model

train = train_tf.map(lambda x: {
    "user_id": x["user_id"],
    "movie_id": x["movie_id"],
    "movie_title": x["movie_title"],
    # "unix_timestamp": x["unix_timestamp"],
    "shift": x["shift"],
    "day_of_week": x["day_of_week"],
    "total_views": x["total_views"],
    "genre1": x["genre1"],
    })

val = val_tf.map(lambda x: {
    "user_id": x["user_id"],
    "movie_id": x["movie_id"],
    "movie_title": x["movie_title"],
    # "unix_timestamp": x["unix_timestamp"],
    "shift": x["shift"],
    "day_of_week": x["day_of_week"],
    "total_views": x["total_views"],
    "genre1": x["genre1"],
    })

test = test_tf.map(lambda x: {
    "user_id": x["user_id"],
    "movie_id": x["movie_id"],
    "movie_title": x["movie_title"],
    # "unix_timestamp": x["unix_timestamp"],
    "shift": x["shift"],
    "day_of_week": x["day_of_week"],
    "total_views": x["total_views"],
    "genre1": x["genre1"],
    })

movies = movies_tf.map(lambda x: {
    "movie_id": x["movie_id"],
    "movie_title": x["movie_title"],
    "total_views": x["total_views"],
    "genre1": x["genre1"],
    })

In [15]:
# batching the entire dataframe for memory safety

tf.random.set_seed(42)

cached_train = train.batch(1000).cache()
cached_val = val.batch(1000).cache()
cached_test = test.batch(1000).cache()

In [16]:
# Before moving to the two-tower architecture's code.
# We need to set some variables to the model such as the input/output dimensions of the embeddings.

user_ids = train_tf.batch(1_000).map(lambda x: x["user_id"])
movie_ids = movies_tf.batch(1_000).map(lambda x: x["movie_id"])
title_movie_ids = movies_tf.batch(1_000).map(lambda x: x["movie_title"])
genre_ids = movies_tf.batch(1_000).map(lambda x: x["genre1"])
shift_ids = train_tf.batch(1_000).map(lambda x: x["shift"])
day_of_week_ids = train_tf.batch(1_000).map(lambda x: x["day_of_week"])


# getting a list of the unique values for each variable
unique_user_ids = np.unique(np.concatenate(list(user_ids)))
unique_movie_ids = np.unique(np.concatenate(list(movie_ids)))
unique_title_movie_ids = np.unique(np.concatenate(list(title_movie_ids)))
unique_genre_ids = np.unique(np.concatenate(list(genre_ids)))
unique_shift_ids = np.unique(np.concatenate(list(shift_ids)))
unique_day_of_week_ids = np.unique(np.concatenate(list(day_of_week_ids)))

In [17]:
# creating buckets for numerical variables such as total views and average score.
# There are other strategies and i encourage you to use them.

total_views = np.concatenate(list(train_tf.map(lambda x: x["total_views"]).batch(1000)))

max_total_views = total_views.max()
min_total_views = total_views.min()

total_views_buckets = np.linspace(
    min_total_views, max_total_views, num=20, dtype = int
)

total_views_buckets

array([  1,  21,  41,  61,  82, 102, 122, 143, 163, 183, 204, 224, 244,
       265, 285, 305, 326, 346, 366, 387])

In [18]:
avg_score = np.concatenate(list(train_tf.map(lambda x: x["avg_score"]).batch(1000)))

max_avg_score = avg_score.max()
min_avg_score = avg_score.min()

avg_score_buckets = np.linspace(
    min_avg_score, max_avg_score, num=5, dtype = int
)

avg_score_buckets

array([1, 2, 3, 4, 5])

<b>Model</b>

In [19]:
# First tower regarding the user.
# Please note, for serving purpose, required variable for training in this component are required for serving.
# In this case, user should be registed and a user_id should be designed, past watched movie,
# current shift and current day of week are required for the prediction.

# please note the input layer, the StringLookup contained, the Flatten layer

class UserModel(tf.keras.Model):

    def __init__(self):

        super().__init__()

        self.user_query_model = tf.keras.Sequential([
            tf.keras.layers.InputLayer(input_shape=(1,), name = 'user_input', dtype = tf.string),
            tf.keras.layers.StringLookup(vocabulary=unique_user_ids, mask_token=None),
            tf.keras.layers.Embedding(
                input_dim = len(unique_user_ids) + 1,
                output_dim = 32),
            tf.keras.layers.Flatten(name='FlattenUser')
            ])

        self.movie_query_model = tf.keras.Sequential([
            tf.keras.layers.InputLayer(input_shape=(1,), name = 'movie_input', dtype = tf.string),
            tf.keras.layers.StringLookup(vocabulary=unique_movie_ids, mask_token=None),
            tf.keras.layers.Embedding(
                input_dim = len(unique_movie_ids) + 1,
                output_dim = 32),
            tf.keras.layers.Flatten(name='FlattenUserMovie')
        ])

        # day of week
        self.shift_query_model = tf.keras.Sequential([
            tf.keras.layers.InputLayer(input_shape=(1,), name = 'shift_input', dtype = tf.string),
            tf.keras.layers.StringLookup(vocabulary=unique_shift_ids, mask_token=None),
            tf.keras.layers.Embedding(
                input_dim = len(unique_shift_ids) + 1,
                output_dim = 32),
            tf.keras.layers.Flatten(name='FlattenUserShift')
            ])

        # day of hour
        self.week_query_model = tf.keras.Sequential([
            tf.keras.layers.InputLayer(input_shape=(1,), name = 'week_input', dtype = tf.string),
            tf.keras.layers.StringLookup(vocabulary=unique_day_of_week_ids, mask_token=None),
            tf.keras.layers.Embedding(
                input_dim = len(unique_day_of_week_ids) + 1,
                output_dim = 32),
            tf.keras.layers.Flatten(name='FlattenUserWeek')
            ])

    def call(self, inputs):

        return tf.concat([
                self.user_query_model(inputs["user_id"]),
                self.movie_query_model(inputs["movie_id"]),
                self.shift_query_model(inputs["shift"]),
                self.week_query_model(inputs["day_of_week"]),
                # self.timestamp_query_model(inputs["unix_timestamp"])
            ], axis = 1)

In [20]:
UserModel()

In [21]:
movie_title_lookup = tf.keras.layers.StringLookup()
movie_title_lookup.adapt(movies.map(lambda x: x["movie_title"]))
print(f"Vocabulary: {movie_title_lookup.get_vocabulary()[:3]}")

Vocabulary: ['[UNK]', "Ulee's Gold (1997)", 'That Darn Cat! (1997)']

In [22]:
# Second tower regarding the candidates/movies.
# Please note, for serving purpose, required variable for training in this component are required for serving.
# In this case, movie_id, it's title, popularity by total_views and genre are required for the prediction.

# please note the input layer, the StringLookup contained, the Flatten layer

# candidates tower
class MovieModel(tf.keras.Model):

    def __init__(self):
        super().__init__()

        self.movie_candidate_model = tf.keras.Sequential([
            tf.keras.layers.InputLayer(input_shape=(1,), name = 'movie_id', dtype = tf.string),
            tf.keras.layers.StringLookup(vocabulary=unique_movie_ids, mask_token=None),
            tf.keras.layers.Embedding(len(unique_movie_ids) + 1, 32),
            tf.keras.layers.Flatten(name='FlattenCandidateTitle')
        ])

        self.genre_candidate_model = tf.keras.Sequential([
            tf.keras.layers.InputLayer(input_shape=(1,), name = 'genre_id', dtype = tf.string),
            tf.keras.layers.StringLookup(vocabulary=unique_genre_ids, mask_token=None),
            tf.keras.layers.Embedding(len(unique_genre_ids) + 1, 32),
            tf.keras.layers.Flatten(name='FlattenCandidateTitle')
        ])

        self.title_text_embedding = tf.keras.Sequential([
            tf.keras.layers.InputLayer(input_shape=(1,), name='title_text', dtype = tf.string),
            tf.keras.layers.StringLookup(vocabulary=unique_movie_ids, mask_token=None),
            tf.keras.layers.Embedding(len(movie_title_lookup.get_vocabulary())+1, 32, mask_zero=True),
            tf.keras.layers.Flatten(name='FlattenCandidatesTitle'),
    ])
        self.total_views = tf.keras.Sequential([
            tf.keras.layers.InputLayer(input_shape=(1,), name = 'total_views_buckets_input', dtype = tf.int64),
            tf.keras.layers.Discretization(total_views_buckets.tolist()),
            tf.keras.layers.Embedding(len(total_views_buckets) + 1, 32),
            tf.keras.layers.Flatten(name='FlattenMerchantMonthlySales')
            ])

    def call(self, titles):
        return tf.concat([
            self.movie_candidate_model(titles['movie_id']),
            self.title_text_embedding(titles['movie_title']),
            self.total_views(titles['total_views']),
            self.genre_candidate_model(titles['genre1']),
            ], axis = 1)

In [23]:
MovieModel()

In [24]:
class CandidatesModel(tfrs.models.Model):

    def __init__(self):

        super().__init__()

        self.query_model = tf.keras.Sequential([
            UserModel(),
            tf.keras.layers.Dense(32)
        ])
        self.candidate_model = tf.keras.Sequential([
            MovieModel(),
            tf.keras.layers.Dense(32)
        ])

        self.task = tfrs.tasks.Retrieval(
            metrics=tfrs.metrics.FactorizedTopK(
                candidates=movies.batch(128).map(self.candidate_model),
            ),
        )

    def compute_loss(self, features, training=False):

        query_embeddings = self.query_model({
            "user_id": features["user_id"],
            'movie_id': features["movie_id"],
            'shift': features["shift"],
            'day_of_week': features["day_of_week"],
        })

        candidates_embeddings = self.candidate_model({
            'movie_id': features["movie_id"],
            'movie_title': features["movie_title"],
            'total_views': features["total_views"],
            'genre1': features["genre1"]
        })

        return self.task(query_embeddings, candidates_embeddings)

<b>Train</b>

In [25]:
candidates_model = CandidatesModel()

In [26]:
callbacks = [
    tf.keras.callbacks.EarlyStopping(monitor='loss', patience=7),
    tf.keras.callbacks.ModelCheckpoint(filepath='./logs/models', save_weights_only=True, save_best_only=True, save_freq="epoch",),
    tf.keras.callbacks.TensorBoard(log_dir='./logs'),
]

candidates_model.compile(
    run_eagerly=True,
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.0001),
)

In [27]:
start_train = False

if start_train:
    history = candidates_model.fit(
        x=cached_train,
        epochs=30,
        verbose=True,
        batch_size=16,
        validation_data=cached_val,
        callbacks=callbacks,
        use_multiprocessing=True,
        workers=12
    )

In [28]:
if start_train:
    candidates_model.save_weights(filepath='./weights/trained_n_personalized_model', overwrite=True)

<b>Evaluation</b>

In [29]:
history.history['loss']

NameError: name 'history' is not defined

In [30]:
# Plot changes in model loss during training


if start_train:

    plt.plot(history.history["loss"])
    # plt.plot(history.history["regularization_loss"])
    # plt.plot(history.history["total_loss"])
    plt.title("Model losses during training")
    plt.xlabel("epoch")
    plt.ylabel("loss")
    plt.legend(["loss"], loc="upper right")
    plt.show()

In [ ]:
if start_train:
    train_accuracy = candidates_model.evaluate(
        cached_train, return_dict=True)["factorized_top_k/top_100_categorical_accuracy"]

    test_accuracy = candidates_model.evaluate(
        cached_test, return_dict=True)["factorized_top_k/top_100_categorical_accuracy"]

    print(f"Top-100 accuracy (train): {train_accuracy:.2f}.")
    print(f"Top-100 accuracy (test): {test_accuracy:.2f}.")

69/69 [==============================] - 18s 253ms/step - factorized_top_k/top_1_categorical_accuracy: 0.6145 - factorized_top_k/top_5_categorical_accuracy: 0.9762 - factorized_top_k/top_10_categorical_accuracy: 0.9844 - factorized_top_k/top_50_categorical_accuracy: 0.9948 - factorized_top_k/top_100_categorical_accuracy: 0.9970 - loss: 1491.5035 - regularization_loss: 0.0000e+00 - total_loss: 1491.5035
9/9 [==============================] - 2s 252ms/step - factorized_top_k/top_1_categorical_accuracy: 0.5577 - factorized_top_k/top_5_categorical_accuracy: 0.9306 - factorized_top_k/top_10_categorical_accuracy: 0.9509 - factorized_top_k/top_50_categorical_accuracy: 0.9769 - factorized_top_k/top_100_categorical_accuracy: 0.9836 - loss: 1540.9709 - regularization_loss: 0.0000e+00 - total_loss: 1540.9709
Top-100 accuracy (train): 1.00.
Top-100 accuracy (test): 0.98.

<b>Serving</b>

In [31]:
candidates_model.load_weights(filepath='./weights/trained_n_personalized_model')

In [33]:
# recommends 100 movies out of the entire merchant dataset.

index = tfrs.layers.factorized_top_k.ScaNN(
    distance_measure = 'dot_product',
    num_leaves = 100,
    num_leaves_to_search = 10,
    training_iterations = 12,
    dimensions_per_block = 2,
    parallelize_batch_searches = True,
    query_model=candidates_model.query_model,
    k = 100
)

In [34]:
trained_index = index.index_from_dataset(
  tf.data.Dataset.zip((
    movies.batch(100).map(lambda x: x["movie_id"]),
    movies.batch(100).map(lambda x: {
      'movie_id':x["movie_id"],
      'total_views':x["total_views"],
      'movie_title':x["movie_title"],
      'genre1':x["genre1"],
      }).map(candidates_model.candidate_model)))
)

2024-01-13 14:44:53.283669: I scann/partitioning/partitioner_factory_base.cc:59] Size of sampled dataset for training partition: 1682
2024-01-13 14:44:53.295823: I ./scann/partitioning/kmeans_tree_partitioner_utils.h:84] PartitionerFactory ran in 12.093524ms.

In [35]:
# Input date in the format "12/12/2022"
date_str = "01/16/1998"

# Convert the date string to a datetime object
date_obj = datetime.strptime(date_str, "%m/%d/%Y")

# Convert the datetime object to a Unix timestamp
unix_timestamp = int(date_obj.timestamp())
# Extract the day of the week
day_of_week = date_obj.strftime("%A")

print(f'date_obj:{date_obj}')
print("Unix Timestamp:", unix_timestamp)
print(f"day of week:", day_of_week)

date_obj:1998-01-16 00:00:00
Unix Timestamp: 884901600
day of week: Friday

In [36]:
light_user_ratings_df['ordered_unix_timestamp'] = pd.to_datetime(light_user_ratings_df['unix_timestamp'], unit='s')
light_user_ratings_df = light_user_ratings_df.sort_values(['user_id', 'ordered_unix_timestamp'])

light_user_ratings_df

,user_id,movie_id,unix_timestamp,shift,day_of_week,movie_title,movie_genre,total_views,avg_score,genre1,ordered_unix_timestamp
583,id_103,id_181,880415875,Noon,Monday,Return of the Jedi (1983),"action, adventure, romance, sci-fi, war",366.0,4.00,action,1997-11-24 23:57:55
590,id_103,id_257,880415892,Noon,Monday,Men in Black (1997),"action, adventure, comedy, sci-fi",194.0,3.76,action,1997-11-24 23:58:12
587,id_103,id_250,880415918,Noon,Monday,"Fifth Element, The (1997)","action, sci-fi",137.0,3.50,action,1997-11-24 23:58:38
589,id_103,id_255,880416423,Noon,Tuesday,My Best Friend's Wedding (1997),"comedy, romance",94.0,3.32,comedy,1997-11-25 00:07:03
593,id_103,id_405,880416424,Noon,Tuesday,Mission: Impossible (1996),"action, adventure, mystery",241.0,3.30,action,1997-11-25 00:07:04
...,...,...,...,...,...,...,...,...,...,...,...
567,id_98,id_210,880498968,Noon,Tuesday,Indiana Jones and the Last Crusade (1989),"action, adventure",256.0,3.96,action,1997-11-25 23:02:48
572,id_98,id_502,880499053,Noon,Tuesday,Bananas (1971),"comedy, war",41.0,3.78,comedy,1997-11-25 23:04:13
562,id_98,id_88,880499087,Noon,Tuesday,Sleepless in Seattle (1993),"comedy, romance",145.0,3.51,comedy,1997-11-25 23:04:47
561,id_98,id_25,880499111,Noon,Tuesday,"Birdcage, The (1996)",comedy,207.0,3.38,comedy,1997-11-25 23:05:11
575,id_98,id_629,880499111,Noon,Tuesday,Victor/Victoria (1982),"comedy, musical",58.0,3.36,comedy,1997-11-25 23:05:11

In [37]:
index_movie = dict(movies_df[['movie_id','movie_title']].to_numpy())
index_movie

{'id_1': 'Toy Story (1995)',
 'id_2': 'GoldenEye (1995)',
 'id_3': 'Four Rooms (1995)',
 'id_4': 'Get Shorty (1995)',
 'id_5': 'Copycat (1995)',
 'id_6': 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 'id_7': 'Twelve Monkeys (1995)',
 'id_8': 'Babe (1995)',
 'id_9': 'Dead Man Walking (1995)',
 'id_10': 'Richard III (1995)',
 'id_11': 'Seven (Se7en) (1995)',
 'id_12': 'Usual Suspects, The (1995)',
 'id_13': 'Mighty Aphrodite (1995)',
 'id_14': 'Postino, Il (1994)',
 'id_15': "Mr. Holland's Opus (1995)",
 'id_16': 'French Twist (Gazon maudit) (1995)',
 'id_17': 'From Dusk Till Dawn (1996)',
 'id_18': 'White Balloon, The (1995)',
 'id_19': "Antonia's Line (1995)",
 'id_20': 'Angels and Insects (1995)',
 'id_21': 'Muppet Treasure Island (1996)',
 'id_22': 'Braveheart (1995)',
 'id_23': 'Taxi Driver (1976)',
 'id_24': 'Rumble in the Bronx (1995)',
 'id_25': 'Birdcage, The (1996)',
 'id_26': 'Brothers McMullen, The (1995)',
 'id_27': 'Bad Boys (1995)',
 'id_28': 'Apollo 13 (1995)',
 'id_29': 'Batman Forever (1995)',
 'id_30': 'Belle de jour (1967)',
 'id_31': 'Crimson Tide (1995)',
 'id_32': 'Crumb (1994)',
 'id_33': 'Desperado (1995)',
 'id_34': 'Doom Generation, The (1995)',
 'id_35': 'Free Willy 2: The Adventure Home (1995)',
 'id_36': 'Mad Love (1995)',
 'id_37': 'Nadja (1994)',
 'id_38': 'Net, The (1995)',
 'id_39': 'Strange Days (1995)',
 'id_40': 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'id_41': 'Billy Madison (1995)',
 'id_42': 'Clerks (1994)',
 'id_43': 'Disclosure (1994)',
 'id_44': 'Dolores Claiborne (1994)',
 'id_45': 'Eat Drink Man Woman (1994)',
 'id_46': 'Exotica (1994)',
 'id_47': 'Ed Wood (1994)',
 'id_48': 'Hoop Dreams (1994)',
 'id_49': 'I.Q. (1994)',
 'id_50': 'Star Wars (1977)',
 'id_51': 'Legends of the Fall (1994)',
 'id_52': 'Madness of King George, The (1994)',
 'id_53': 'Natural Born Killers (1994)',
 'id_54': 'Outbreak (1995)',
 'id_55': 'Professional, The (1994)',
 'id_56': 'Pulp Fiction (1994)',
 'id_57': 'Priest (1994)',
 'id_58': 'Quiz Show (1994)',
 'id_59': 'Three Colors: Red (1994)',
 'id_60': 'Three Colors: Blue (1993)',
 'id_61': 'Three Colors: White (1994)',
 'id_62': 'Stargate (1994)',
 'id_63': 'Santa Clause, The (1994)',
 'id_64': 'Shawshank Redemption, The (1994)',
 'id_65': "What's Eating Gilbert Grape (1993)",
 'id_66': 'While You Were Sleeping (1995)',
 'id_67': 'Ace Ventura: Pet Detective (1994)',
 'id_68': 'Crow, The (1994)',
 'id_69': 'Forrest Gump (1994)',
 'id_70': 'Four Weddings and a Funeral (1994)',
 'id_71': 'Lion King, The (1994)',
 'id_72': 'Mask, The (1994)',
 'id_73': 'Maverick (1994)',
 'id_74': 'Faster Pussycat! Kill! Kill! (1965)',
 'id_75': 'Brother Minister: The Assassination of Malcolm X (1994)',
 'id_76': "Carlito's Way (1993)",
 'id_77': 'Firm, The (1993)',
 'id_78': 'Free Willy (1993)',
 'id_79': 'Fugitive, The (1993)',
 'id_80': 'Hot Shots! Part Deux (1993)',
 'id_81': 'Hudsucker Proxy, The (1994)',
 'id_82': 'Jurassic Park (1993)',
 'id_83': 'Much Ado About Nothing (1993)',
 'id_84': "Robert A. Heinlein's The Puppet Masters (1994)",
 'id_85': 'Ref, The (1994)',
 'id_86': 'Remains of the Day, The (1993)',
 'id_87': 'Searching for Bobby Fischer (1993)',
 'id_88': 'Sleepless in Seattle (1993)',
 'id_89': 'Blade Runner (1982)',
 'id_90': 'So I Married an Axe Murderer (1993)',
 'id_91': 'Nightmare Before Christmas, The (1993)',
 'id_92': 'True Romance (1993)',
 'id_93': 'Welcome to the Dollhouse (1995)',
 'id_94': 'Home Alone (1990)',
 'id_95': 'Aladdin (1992)',
 'id_96': 'Terminator 2: Judgment Day (1991)',
 'id_97': 'Dances with Wolves (1990)',
 'id_98': 'Silence of the Lambs, The (1991)',
 'id_99': 'Snow White and the Seven Dwarfs (1937)',
 'id_100': 'Fargo (1996)',
 'id_101': 'Heavy Metal (1981)',
 'id_102': 'Aristocats, The (1970)',
 'id_103': 'All Dogs Go to Heaven 2 (1996)',
 'id_104': 'Theodore Rex (1995)',
 'id_105': 'Sgt. Bilko (1996)',
 'id_106': 'Diabolique (1996)',
 'id_107': 'Moll Flanders (1996)',
 'id_108': 'Kids in the Hall: Brain Candy (1996)',
 'id_109': 'Mystery Science Theater 3000: The Movie (1996)',
 'id_110': 'Operation Dumbo Drop (1995)',
 'id_111': 'Truth About Cats & Dogs, The (1996)',
 'id_112': 'Flipper (1996)',
 'id_113': 'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)',
 'id_114': 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 'id_115': 'Haunted World of Edward D. Wood Jr., The (1995)',
 'id_116': 'Cold Comfort Farm (1995)',
 'id_117': 'Rock, The (1996)',
 'id_118': 'Twister (1996)',
 'id_119': 'Maya Lin: A Strong Clear Vision (1994)',
 'id_120': 'Striptease (1996)',
 'id_121': 'Independence Day (ID4) (1996)',
 'id_122': 'Cable Guy, The (1996)',
 'id_123': 'Frighteners, The (1996)',
 'id_124': 'Lone Star (1996)',
 'id_125': 'Phenomenon (1996)',
 'id_126': 'Spitfire Grill, The (1996)',
 'id_127': 'Godfather, The (1972)',
 'id_128': 'Supercop (1992)',
 'id_129': 'Bound (1996)',
 'id_130': 'Kansas City (1996)',
 'id_131': "Breakfast at Tiffany's (1961)",
 'id_132': 'Wizard of Oz, The (1939)',
 'id_133': 'Gone with the Wind (1939)',
 'id_134': 'Citizen Kane (1941)',
 'id_135': '2001: A Space Odyssey (1968)',
 'id_136': 'Mr. Smith Goes to Washington (1939)',
 'id_137': 'Big Night (1996)',
 'id_138': 'D3: The Mighty Ducks (1996)',
 'id_139': 'Love Bug, The (1969)',
 'id_140': 'Homeward Bound: The Incredible Journey (1993)',
 'id_141': '20,000 Leagues Under the Sea (1954)',
 'id_142': 'Bedknobs and Broomsticks (1971)',
 'id_143': 'Sound of Music, The (1965)',
 'id_144': 'Die Hard (1988)',
 'id_145': 'Lawnmower Man, The (1992)',
 'id_146': 'Unhook the Stars (1996)',
 'id_147': 'Long Kiss Goodnight, The (1996)',
 'id_148': 'Ghost and the Darkness, The (1996)',
 'id_149': 'Jude (1996)',
 'id_150': 'Swingers (1996)',
 'id_151': 'Willy Wonka and the Chocolate Factory (1971)',
 'id_152': 'Sleeper (1973)',
 'id_153': 'Fish Called Wanda, A (1988)',
 'id_154': "Monty Python's Life of Brian (1979)",
 'id_155': 'Dirty Dancing (1987)',
 'id_156': 'Reservoir Dogs (1992)',
 'id_157': 'Platoon (1986)',
 'id_158': "Weekend at Bernie's (1989)",
 'id_159': 'Basic Instinct (1992)',
 'id_160': 'Glengarry Glen Ross (1992)',
 'id_161': 'Top Gun (1986)',
 'id_162': 'On Golden Pond (1981)',
 'id_163': 'Return of the Pink Panther, The (1974)',
 'id_164': 'Abyss, The (1989)',
 'id_165': 'Jean de Florette (1986)',
 'id_166': 'Manon of the Spring (Manon des sources) (1986)',
 'id_167': 'Private Benjamin (1980)',
 'id_168': 'Monty Python and the Holy Grail (1974)',
 'id_169': 'Wrong Trousers, The (1993)',
 'id_170': 'Cinema Paradiso (1988)',
 'id_171': 'Delicatessen (1991)',
 'id_172': 'Empire Strikes Back, The (1980)',
 'id_173': 'Princess Bride, The (1987)',
 'id_174': 'Raiders of the Lost Ark (1981)',
 'id_175': 'Brazil (1985)',
 'id_176': 'Aliens (1986)',
 'id_177': 'Good, The Bad and The Ugly, The (1966)',
 'id_178': '12 Angry Men (1957)',
 'id_179': 'Clockwork Orange, A (1971)',
 'id_180': 'Apocalypse Now (1979)',
 'id_181': 'Return of the Jedi (1983)',
 'id_182': 'GoodFellas (1990)',
 'id_183': 'Alien (1979)',
 'id_184': 'Army of Darkness (1993)',
 'id_185': 'Psycho (1960)',
 'id_186': 'Blues Brothers, The (1980)',
 'id_187': 'Godfather: Part II, The (1974)',
 'id_188': 'Full Metal Jacket (1987)',
 'id_189': 'Grand Day Out, A (1992)',
 'id_190': 'Henry V (1989)',
 'id_191': 'Amadeus (1984)',
 'id_192': 'Raging Bull (1980)',
 'id_193': 'Right Stuff, The (1983)',
 'id_194': 'Sting, The (1973)',
 'id_195': 'Terminator, The (1984)',
 'id_196': 'Dead Poets Society (1989)',
 'id_197': 'Graduate, The (1967)',
 'id_198': 'Nikita (La Femme Nikita) (1990)',
 'id_199': 'Bridge on the River Kwai, The (1957)',
 'id_200': 'Shining, The (1980)',
 'id_201': 'Evil Dead II (1987)',
 'id_202': 'Groundhog Day (1993)',
 'id_203': 'Unforgiven (1992)',
 'id_204': 'Back to the Future (1985)',
 'id_205': 'Patton (1970)',
 'id_206': 'Akira (1988)',
 'id_207': 'Cyrano de Bergerac (1990)',
 'id_208': 'Young Frankenstein (1974)',
 'id_209': 'This Is Spinal Tap (1984)',
 'id_210': 'Indiana Jones and the Last Crusade (1989)',
 'id_211': 'M*A*S*H (1970)',
 'id_212': 'Unbearable Lightness of Being, The (1988)',
 'id_213': 'Room with a View, A (1986)',
 'id_214': 'Pink Floyd - The Wall (1982)',
 'id_215': 'Field of Dreams (1989)',
 'id_216': 'When Harry Met Sally... (1989)',
 'id_217': "Bram Stoker's Dracula (1992)",
 'id_218': 'Cape Fear (1991)',
 'id_219': 'Nightmare on Elm Street, A (1984)',
 'id_220': 'Mirror Has Two Faces, The (1996)',
 'id_221': 'Breaking the Waves (1996)',
 'id_222': 'Star Trek: First Contact (1996)',
 'id_223': 'Sling Blade (1996)',
 'id_224': 'Ridicule (1996)',
 'id_225': '101 Dalmatians (1996)',
 'id_226': 'Die Hard 2 (1990)',
 'id_227': 'Star Trek VI: The Undiscovered Country (1991)',
 'id_228': 'Star Trek: The Wrath of Khan (1982)',
 'id_229': 'Star Trek III: The Search for Spock (1984)',
 'id_230': 'Star Trek IV: The Voyage Home (1986)',
 'id_231': 'Batman Returns (1992)',
 'id_232': 'Young Guns (1988)',
 'id_233': 'Under Siege (1992)',
 'id_234': 'Jaws (1975)',
 'id_235': 'Mars Attacks! (1996)',
 'id_236': 'Citizen Ruth (1996)',
 'id_237': 'Jerry Maguire (1996)',
 'id_238': 'Raising Arizona (1987)',
 'id_239': 'Sneakers (1992)',
 'id_240': 'Beavis and Butt-head Do America (1996)',
 'id_241': 'Last of the Mohicans, The (1992)',
 'id_242': 'Kolya (1996)',
 'id_243': 'Jungle2Jungle (1997)',
 'id_244': "Smilla's Sense of Snow (1997)",
 'id_245': "Devil's Own, The (1997)",
 'id_246': 'Chasing Amy (1997)',
 'id_247': 'Turbo: A Power Rangers Movie (1997)',
 'id_248': 'Grosse Pointe Blank (1997)',
 'id_249': 'Austin Powers: International Man of Mystery (1997)',
 'id_250': 'Fifth Element, The (1997)',
 'id_251': 'Shall We Dance? (1996)',
 'id_252': 'Lost World: Jurassic Park, The (1997)',
 'id_253': 'Pillow Book, The (1995)',
 'id_254': 'Batman & Robin (1997)',
 'id_255': "My Best Friend's Wedding (1997)",
 'id_256': 'When the Cats Away (Chacun cherche son chat) (1996)',
 'id_257': 'Men in Black (1997)',
 'id_258': 'Contact (1997)',
 'id_259': 'George of the Jungle (1997)',
 'id_260': 'Event Horizon (1997)',
 'id_261': 'Air Bud (1997)',
 'id_262': 'In the Company of Men (1997)',
 'id_263': 'Steel (1997)',
 'id_264': 'Mimic (1997)',
 'id_265': 'Hunt for Red October, The (1990)',
 'id_266': 'Kull the Conqueror (1997)',
 'id_267': 'unknown',
 'id_268': 'Chasing Amy (1997)',
 'id_269': 'Full Monty, The (1997)',
 'id_270': 'Gattaca (1997)',
 'id_271': 'Starship Troopers (1997)',
 'id_272': 'Good Will Hunting (1997)',
 'id_273': 'Heat (1995)',
 'id_274': 'Sabrina (1995)',
 'id_275': 'Sense and Sensibility (1995)',
 'id_276': 'Leaving Las Vegas (1995)',
 'id_277': 'Restoration (1995)',
 'id_278': 'Bed of Roses (1996)',
 'id_279': 'Once Upon a Time... When We Were Colored (1995)',
 'id_280': 'Up Close and Personal (1996)',
 'id_281': 'River Wild, The (1994)',
 'id_282': 'Time to Kill, A (1996)',
 'id_283': 'Emma (1996)',
 'id_284': 'Tin Cup (1996)',
 'id_285': 'Secrets & Lies (1996)',
 'id_286': 'English Patient, The (1996)',
 'id_287': "Marvin's Room (1996)",
 'id_288': 'Scream (1996)',
 'id_289': 'Evita (1996)',
 'id_290': 'Fierce Creatures (1997)',
 'id_291': 'Absolute Power (1997)',
 'id_292': 'Rosewood (1997)',
 'id_293': 'Donnie Brasco (1997)',
 'id_294': 'Liar Liar (1997)',
 'id_295': 'Breakdown (1997)',
 'id_296': 'Promesse, La (1996)',
 'id_297': "Ulee's Gold (1997)",
 'id_298': 'Face/Off (1997)',
 'id_299': 'Hoodlum (1997)',
 'id_300': 'Air Force One (1997)',
 'id_301': 'In & Out (1997)',
 'id_302': 'L.A. Confidential (1997)',
 'id_303': "Ulee's Gold (1997)",
 'id_304': 'Fly Away Home (1996)',
 'id_305': 'Ice Storm, The (1997)',
 'id_306': 'Mrs. Brown (Her Majesty, Mrs. Brown) (1997)',
 'id_307': "Devil's Advocate, The (1997)",
 'id_308': 'FairyTale: A True Story (1997)',
 'id_309': 'Deceiver (1997)',
 'id_310': 'Rainmaker, The (1997)',
 'id_311': 'Wings of the Dove, The (1997)',
 'id_312': 'Midnight in the Garden of Good and Evil (1997)',
 'id_313': 'Titanic (1997)',
 'id_314': '3 Ninjas: High Noon At Mega Mountain (1998)',
 'id_315': 'Apt Pupil (1998)',
 'id_316': 'As Good As It Gets (1997)',
 'id_317': 'In the Name of the Father (1993)',
 'id_318': "Schindler's List (1993)",
 'id_319': 'Everyone Says I Love You (1996)',
 'id_320': 'Paradise Lost: The Child Murders at Robin Hood Hills (1996)',
 'id_321': 'Mother (1996)',
 'id_322': 'Murder at 1600 (1997)',
 'id_323': "Dante's Peak (1997)",
 'id_324': 'Lost Highway (1997)',
 'id_325': 'Crash (1996)',
 'id_326': 'G.I. Jane (1997)',
 'id_327': 'Cop Land (1997)',
 'id_328': 'Conspiracy Theory (1997)',
 'id_329': 'Desperate Measures (1998)',
 'id_330': '187 (1997)',
 'id_331': 'Edge, The (1997)',
 'id_332': 'Kiss the Girls (1997)',
 'id_333': 'Game, The (1997)',
 'id_334': 'U Turn (1997)',
 'id_335': 'How to Be a Player (1997)',
 'id_336': 'Playing God (1997)',
 'id_337': 'House of Yes, The (1997)',
 'id_338': 'Bean (1997)',
 'id_339': 'Mad City (1997)',
 'id_340': 'Boogie Nights (1997)',
 'id_341': 'Critical Care (1997)',
 'id_342': 'Man Who Knew Too Little, The (1997)',
 'id_343': 'Alien: Resurrection (1997)',
 'id_344': 'Apostle, The (1997)',
 'id_345': 'Deconstructing Harry (1997)',
 'id_346': 'Jackie Brown (1997)',
 'id_347': 'Wag the Dog (1997)',
 'id_348': 'Desperate Measures (1998)',
 'id_349': 'Hard Rain (1998)',
 'id_350': 'Fallen (1998)',
 'id_351': 'Prophecy II, The (1998)',
 'id_352': 'Spice World (1997)',
 'id_353': 'Deep Rising (1998)',
 'id_354': 'Wedding Singer, The (1998)',
 'id_355': 'Sphere (1998)',
 'id_356': 'Client, The (1994)',
 'id_357': "One Flew Over the Cuckoo's Nest (1975)",
 'id_358': 'Spawn (1997)',
 'id_359': 'Assignment, The (1997)',
 'id_360': 'Wonderland (1997)',
 'id_361': 'Incognito (1997)',
 'id_362': 'Blues Brothers 2000 (1998)',
 'id_363': 'Sudden Death (1995)',
 'id_364': 'Ace Ventura: When Nature Calls (1995)',
 'id_365': 'Powder (1995)',
 'id_366': 'Dangerous Minds (1995)',
 'id_367': 'Clueless (1995)',
 'id_368': 'Bio-Dome (1996)',
 'id_369': 'Black Sheep (1996)',
 'id_370': 'Mary Reilly (1996)',
 'id_371': 'Bridges of Madison County, The (1995)',
 'id_372': 'Jeffrey (1995)',
 'id_373': 'Judge Dredd (1995)',
 'id_374': 'Mighty Morphin Power Rangers: The Movie (1995)',
 'id_375': 'Showgirls (1995)',
 'id_376': 'Houseguest (1994)',
 'id_377': 'Heavyweights (1994)',
 'id_378': 'Miracle on 34th Street (1994)',
 'id_379': 'Tales From the Crypt Presents: Demon Knight (1995)',
 'id_380': 'Star Trek: Generations (1994)',
 'id_381': "Muriel's Wedding (1994)",
 'id_382': 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'id_383': 'Flintstones, The (1994)',
 'id_384': 'Naked Gun 33 1/3: The Final Insult (1994)',
 'id_385': 'True Lies (1994)',
 'id_386': 'Addams Family Values (1993)',
 'id_387': 'Age of Innocence, The (1993)',
 'id_388': 'Beverly Hills Cop III (1994)',
 'id_389': 'Black Beauty (1994)',
 'id_390': 'Fear of a Black Hat (1993)',
 'id_391': 'Last Action Hero (1993)',
 'id_392': 'Man Without a Face, The (1993)',
 'id_393': 'Mrs. Doubtfire (1993)',
 'id_394': 'Radioland Murders (1994)',
 'id_395': 'Robin Hood: Men in Tights (1993)',
 'id_396': 'Serial Mom (1994)',
 'id_397': 'Striking Distance (1993)',
 'id_398': 'Super Mario Bros. (1993)',
 'id_399': 'Three Musketeers, The (1993)',
 'id_400': 'Little Rascals, The (1994)',
 'id_401': 'Brady Bunch Movie, The (1995)',
 'id_402': 'Ghost (1990)',
 'id_403': 'Batman (1989)',
 'id_404': 'Pinocchio (1940)',
 'id_405': 'Mission: Impossible (1996)',
 'id_406': 'Thinner (1996)',
 'id_407': 'Spy Hard (1996)',
 'id_408': 'Close Shave, A (1995)',
 'id_409': 'Jack (1996)',
 'id_410': 'Kingpin (1996)',
 'id_411': 'Nutty Professor, The (1996)',
 'id_412': 'Very Brady Sequel, A (1996)',
 'id_413': 'Tales from the Crypt Presents: Bordello of Blood (1996)',
 'id_414': 'My Favorite Year (1982)',
 'id_415': 'Apple Dumpling Gang, The (1975)',
 'id_416': 'Old Yeller (1957)',
 'id_417': 'Parent Trap, The (1961)',
 'id_418': 'Cinderella (1950)',
 'id_419': 'Mary Poppins (1964)',
 'id_420': 'Alice in Wonderland (1951)',
 'id_421': "William Shakespeare's Romeo and Juliet (1996)",
 'id_422': 'Aladdin and the King of Thieves (1996)',
 'id_423': 'E.T. the Extra-Terrestrial (1982)',
 'id_424': 'Children of the Corn: The Gathering (1996)',
 'id_425': 'Bob Roberts (1992)',
 'id_426': 'Transformers: The Movie, The (1986)',
 'id_427': 'To Kill a Mockingbird (1962)',
 'id_428': 'Harold and Maude (1971)',
 'id_429': 'Day the Earth Stood Still, The (1951)',
 'id_430': 'Duck Soup (1933)',
 'id_431': 'Highlander (1986)',
 'id_432': 'Fantasia (1940)',
 'id_433': 'Heathers (1989)',
 'id_434': 'Forbidden Planet (1956)',
 'id_435': 'Butch Cassidy and the Sundance Kid (1969)',
 'id_436': 'American Werewolf in London, An (1981)',
 'id_437': "Amityville 1992: It's About Time (1992)",
 'id_438': 'Amityville 3-D (1983)',
 'id_439': 'Amityville: A New Generation (1993)',
 'id_440': 'Amityville II: The Possession (1982)',
 'id_441': 'Amityville Horror, The (1979)',
 'id_442': 'Amityville Curse, The (1990)',
 'id_443': 'Birds, The (1963)',
 'id_444': 'Blob, The (1958)',
 'id_445': 'Body Snatcher, The (1945)',
 'id_446': 'Burnt Offerings (1976)',
 'id_447': 'Carrie (1976)',
 'id_448': 'Omen, The (1976)',
 'id_449': 'Star Trek: The Motion Picture (1979)',
 'id_450': 'Star Trek V: The Final Frontier (1989)',
 'id_451': 'Grease (1978)',
 'id_452': 'Jaws 2 (1978)',
 'id_453': 'Jaws 3-D (1983)',
 'id_454': 'Bastard Out of Carolina (1996)',
 'id_455': "Jackie Chan's First Strike (1996)",
 'id_456': 'Beverly Hills Ninja (1997)',
 'id_457': 'Free Willy 3: The Rescue (1997)',
 'id_458': 'Nixon (1995)',
 'id_459': 'Cry, the Beloved Country (1995)',
 'id_460': 'Crossing Guard, The (1995)',
 'id_461': 'Smoke (1995)',
 'id_462': 'Like Water For Chocolate (Como agua para chocolate) (1992)',
 'id_463': 'Secret of Roan Inish, The (1994)',
 'id_464': 'Vanya on 42nd Street (1994)',
 'id_465': 'Jungle Book, The (1994)',
 'id_466': 'Red Rock West (1992)',
 'id_467': 'Bronx Tale, A (1993)',
 'id_468': 'Rudy (1993)',
 'id_469': 'Short Cuts (1993)',
 'id_470': 'Tombstone (1993)',
 'id_471': 'Courage Under Fire (1996)',
 'id_472': 'Dragonheart (1996)',
 'id_473': 'James and the Giant Peach (1996)',
 'id_474': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
 'id_475': 'Trainspotting (1996)',
 'id_476': 'First Wives Club, The (1996)',
 'id_477': 'Matilda (1996)',
 'id_478': 'Philadelphia Story, The (1940)',
 'id_479': 'Vertigo (1958)',
 'id_480': 'North by Northwest (1959)',
 'id_481': 'Apartment, The (1960)',
 'id_482': 'Some Like It Hot (1959)',
 'id_483': 'Casablanca (1942)',
 'id_484': 'Maltese Falcon, The (1941)',
 'id_485': 'My Fair Lady (1964)',
 'id_486': 'Sabrina (1954)',
 'id_487': 'Roman Holiday (1953)',
 'id_488': 'Sunset Blvd. (1950)',
 'id_489': 'Notorious (1946)',
 'id_490': 'To Catch a Thief (1955)',
 'id_491': 'Adventures of Robin Hood, The (1938)',
 'id_492': 'East of Eden (1955)',
 'id_493': 'Thin Man, The (1934)',
 'id_494': 'His Girl Friday (1940)',
 'id_495': 'Around the World in 80 Days (1956)',
 'id_496': "It's a Wonderful Life (1946)",
 'id_497': 'Bringing Up Baby (1938)',
 'id_498': 'African Queen, The (1951)',
 'id_499': 'Cat on a Hot Tin Roof (1958)',
 'id_500': 'Fly Away Home (1996)',
 'id_501': 'Dumbo (1941)',
 'id_502': 'Bananas (1971)',
 'id_503': 'Candidate, The (1972)',
 'id_504': 'Bonnie and Clyde (1967)',
 'id_505': 'Dial M for Murder (1954)',
 'id_506': 'Rebel Without a Cause (1955)',
 'id_507': 'Streetcar Named Desire, A (1951)',
 'id_508': 'People vs. Larry Flynt, The (1996)',
 'id_509': 'My Left Foot (1989)',
 'id_510': 'Magnificent Seven, The (1954)',
 'id_511': 'Lawrence of Arabia (1962)',
 'id_512': 'Wings of Desire (1987)',
 'id_513': 'Third Man, The (1949)',
 'id_514': 'Annie Hall (1977)',
 'id_515': 'Boot, Das (1981)',
 'id_516': 'Local Hero (1983)',
 'id_517': 'Manhattan (1979)',
 'id_518': "Miller's Crossing (1990)",

In [42]:
# single user test
scores , titles = trained_index(queries = {
    'user_id':tf.constant(['id_103']),
    'movie_id':tf.constant(['id_181']),
    'shift':tf.constant(['Noon']),
    'day_of_week':tf.constant(['Monday']),
    }, k = 50
)


print("Recommendations for user id_103 who watched the movie Return of the Jedi (1983)")

titles = [index_movie[idx.decode('utf-8')] for idx in titles[0, :].numpy()]
dict(zip(titles, scores.numpy()[0]))

Recommendations for user id_103 who watched the movie Return of the Jedi (1983)

{'Return of the Jedi (1983)': 52.953686,
 'Operation Dumbo Drop (1995)': 52.574615,
 'First Knight (1995)': 52.13831,
 'Perfect World, A (1993)': 52.115013,
 'Star Trek: The Motion Picture (1979)': 52.091717,
 'Money Talks (1997)': 51.75924,
 'Breakdown (1997)': 51.60249,
 'Timecop (1994)': 51.22342,
 'Fled (1996)': 51.176826,
 'Broken Arrow (1996)': 51.164246,
 'Saint, The (1997)': 51.113262,
 'Die Hard (1988)': 51.089966,
 'Mulholland Falls (1996)': 50.702755,
 'Three Musketeers, The (1993)': 50.693924,
 'Fan, The (1996)': 50.624035,
 'Getaway, The (1994)': 50.594414,
 'Hunt for Red October, The (1990)': 50.507553,
 'Terminal Velocity (1994)': 50.221672,
 'Marked for Death (1990)': 50.221672,
 'Escape from L.A. (1996)': 50.181404,
 'Supercop (1992)': 50.11151,
 'Diva (1981)': 50.06492,
 'Good, The Bad and The Ugly, The (1966)': 49.999413,
 "Things to Do in Denver when You're Dead (1995)": 49.99503,
 'Jackie Brown (1997)': 49.957268,
 'Mighty Morphin Power Rangers: The Movie (1995)': 49.70915,
 'Butch Cassidy and the Sundance Kid (1969)': 49.67326,
 'Warriors of Virtue (1997)': 49.662556,
 'Virtuosity (1995)': 49.444744,
 'Drop Zone (1994)': 49.42959,
 'Romper Stomper (1992)': 49.382996,
 'Hellraiser: Bloodline (1996)': 49.3597,
 'Love and a .45 (1994)': 49.165188,
 'Johnny Mnemonic (1995)': 49.150032,
 'Foreign Correspondent (1940)': 49.118595,
 'Cliffhanger (1993)': 49.039875,
 'Maximum Risk (1996)': 48.96366,
 'Chain Reaction (1996)': 48.8535,
 'Bloodsport 2 (1995)': 48.800583,
 'Palookaville (1996)': 48.707397,
 'Blink (1994)': 48.582775,
 'L.A. Confidential (1997)': 48.57833,
 'Fair Game (1995)': 48.451138,
 'Tie That Binds, The (1995)': 48.32651,
 'Mute Witness (1994)': 48.303215,
 'Safe (1995)': 48.303215,
 'Speed (1994)': 48.27992,
 'Conspiracy Theory (1997)': 48.20559,
 'Assignment, The (1997)': 48.116844,
 'Mars Attacks! (1996)': 48.112404}

In [39]:
# now let's evaluate for the entire dataset for light_users
# the function bellow generates 100 candidates for each row and measure if the watched movie is in the batch
# of candidates. True for Yes and False for No. Then, it is summed up and

def predict(
    user_id:str,
    movie_id:str,
    shift:str,
    day_of_week:str
):

    scores, titles = index(
        {
        'user_id':tf.constant([user_id]),
        'movie_id':tf.constant([movie_id]),
        'day_of_week':tf.constant([day_of_week]),
        'shift':tf.constant([shift]),
        },k = 100
    )

    if movie_id in titles[0]:
        # print(True)
        del titles
        return True
    else:
        del titles
        # print(False)
        return False

In [40]:
# According to the results bellow, 90~94% of the interactions are covered by the candidates generation generated by
# the enricheded two-tower model.

filtered_df = light_user_ratings_df[['user_id','movie_id', 'day_of_week', 'shift']]

df_evaluation = np.vstack(map(predict,
    filtered_df['user_id'],
    filtered_df['movie_id'],
    filtered_df['day_of_week'],
    filtered_df['shift'],
    ))

final_df = pd.DataFrame(df_evaluation, index = filtered_df.index).rename(columns = {0:'score'})

final_df[final_df.score==True].shape[0]/final_df.shape[0]

0.9195262678408745